<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nitish.gamershub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:icon="@mipmap/vector_icon2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/vector_icon2"
        android:theme="@style/AppTheme">
        <activity
            android:name=".utils.KotlinTestActivity"
            android:exported="false" />

        <receiver
            android:name=".utils.broadcastReceivers.TimeChangedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.AIRPLANE_MODE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".view.rewards.activity.FaqActivity"
            android:exported="false" />
        <activity
            android:name=".view.rewards.activity.RewardsActivity"
            android:exported="false" />
        <activity
            android:name=".view.rewards.activity.TransactionHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.rewards.activity.RedeemActivity"
            android:exported="false" />
        <activity
            android:name=".view.loginSingup.activity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".view.homePage.activity.CategoryActivity"
            android:exported="false" />


        <activity
            android:name=".view.homePage.activity.HomeActivity"
            android:exported="false" />

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.loginSingup.activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5584279718709862~9566427930" />
    </application>

</manifest>